* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#abidov {
  display: flex;
  text-align: center;
  gap: 50px;
}
#abidov img {
  width: 562px;
  height: 378px;
  opacity: 1;
}
#abidov .commit h1 {
  font-family: Circe;
  font-weight: 700;
  font-size: 26px;
  vertical-align: middle;
}